<!DOCTYPE html>
<title>Monitoring</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<section class = "content">
    <header>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@^3"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    </header>
    <body>
        <h2>Monitoring service</h2>
        <p>Work in progress!!</p>

        <div class="chart-container">
            <canvas id="filesChart"></canvas>
        </div>
        
        <script>
            var ctx = document.getElementById("filesChart").getContext('2d');
            new Chart(ctx, 
                {
                    type: "line",
                    data: 
                    {
                        datasets: 
                        [{
                            data:
                            [
                                {% for x, y in zip(files_data["x"], files_data["y"]) %} { 'x': "{{x}}", 'y': {{y}} },
                                {%endfor%}
                            ],
                            {#label: "Lable for data"#}
                        }]
                    },
                    options: 
                    {
                        scales:
                        {
                            x:
                            {
                                type: "time"
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: "{{files_data['chart_name']}}"
                            }
                        }
                    }
                }
            );
        </script>
    </body>
</section>